Multiple mistakes depicting support file resource URIs

**1.**

S-100 1-4.6

<img width="768" height="466" alt="Image" src="https://github.com/user-attachments/assets/4d395682-3eb6-4eed-bcac-0cc381eea674" />

To be consistent with file naming requirements,

> CABLES01.TXT

should be

> 101GB00CABLES01.TXT

**2.**

> \<ExchangeSetRoot\>/SUPPORT_FILES/CABLES01.TXT

 is incorrect. It should read:

> \<ExchangeSetRoot\>/S-101/SUPPORT_FILES/101GB00CABLES01.TXT

**3.**

S-100 Figure 17-5

<img width="308" height="268" alt="Image" src="https://github.com/user-attachments/assets/052d84e6-6d4b-4907-8020-512ba8415613" />

Changing the // to /, this should read:

> file:/101GB00INFORM1.TXT

**4.**

<img width="779" height="110" alt="Image" src="https://github.com/user-attachments/assets/03dca493-aaf7-42e9-bf63-c945deebc78b" />

> file::

 should read:

> file:/

See also https://github.com/iho-ohi/S-101-Documentation-and-FC/issues/229

I agree that it should be consistant  across references but I do believe that the generic standard for URIs, RFC3986, indicates there should be two slashes and that one slash is malformed.

So the example you provide in #3 is actually correct already.  Otherwise, I completely agree that the documents need to be reviewed to ensure that updated naming conventions and proper URI standards are followed and consistant across the documents

https://datatracker.ietf.org/doc/html/rfc3986#section-1.1.2

> ... but I do believe that the generic standard for URIs, RFC3986, indicates there should be two slashes and that one slash is malformed.

My understanding is that the above is not correct.

S-100 states "with no authority field".

Section 3.3 of RFC3986 states:

> If a URI does not contain an authority component, then the **path cannot begin with two slash characters ("//")**

Wikipedia (although not the primary reference) supports this.

> A valid file URI must therefore begin with either file:/path (no hostname) ...

and

> file://path (i.e. two slashes, without a hostname) is never correct, but is often used.


Thank you @FrankHippmann to also rise this to clarify and fix the inconsistencies further. As I commented in https://github.com/iho-ohi/S-101-Documentation-and-FC/issues/229#issuecomment-3322924201 there should be an agreed redline already clarifying some bits, like reference to RFC8089 as well. Other bits that @FrankHippmann is pointing here, then in line with the former agreed proposal, apparently needs to be updated further. 

BTW can anyone who is maintaining and has an S-100 v.6.0 redline updated to some point (at least up to S-100WG10 meeting) post in this Repositories Documentation part? Then it would help to contribute/build further changes easier, as proposed by Frank here. 

> Section 3.3 of RFC3986 states:
> 
> > If a URI does not contain an authority component, then the **path cannot begin with two slash characters ("//")**

@FrankHippmann, I agree with all the proposals.  I just wanted to point out a few minor details.  The reference above appears to be specific to RFC3986. RFC8089 builds on that, but uses subsets "path-absolute" - subset of "path" and "file-auth" - subset of "authority".  As a result, the `file-hier-part`  in 8089, can be expanded as:

```
file-hier-part = ( "//" [ file-auth ] path-absolute ) / path-absolute
```

From RFC-3986 , the path-absolute is defined as, 

` path-absolute   ; begins with "/" but not "//"
`

Just a minor point, but for completeness, I think in example 4,  both of the following forms are valid:

```
file:/101GB00400797.TXT
file:///101GB00400797.TXT
```

The first example matches the `file-hier-part = path-absolute` format while, the second one matches `file-hier-part = "//" [ file-auth ] path-absolute` form with an empty authority.


> Just a minor point, but for completeness, I think in example 4, both of the following forms are valid:
> 
> ```
> file:/101GB00400797.TXT
> file:///101GB00400797.TXT
> ```

Yes, the first is a URI with no authority, and the second is a URI with an empty authority. The second is equivalent to:

`file://localhost/101GB00400797.TXT`

In the example provided by S-100 1-4.6, there is no authority. As was discussed at S-100WG, OEMs often use examples to guide implementation. To avoid confusion, it is best for S-100 to clarify the use of "no authority" vs. "empty authority". This should be stated explicitly and not just as an example. Something like:

> A file URI must not include an authority field, and must be of the form:

`file:/path/to/file`

or

> A file URI may or may not include an authority field, and must be of the form:

```
file:/path/to/file
file:///path/to/file
file://localhost/path/to/file
```

It is really important for software OEMs to know what forms of file URIs they can expect.


